body, html {
  margin: 0;
  padding: 0;
}

.main {
  max-width: 70ch;
  padding: 3em 1em;
  margin: auto;
  line-height: 1.75;
  font-size: 1.25em;
}

h1,h2,h3,h4,h5,h6 {
  margin: 3em 0 1em;
}

p,ul,ol {
  margin-bottom: 2em;
  font-family: sans-serif;
}

/*~~ header ~~~~~~~~~~~~~~~~~~~~*/

header {
  margin-bottom: 3em;
  margin-left: auto;
  width: 75%;
}

header p {
  margin-bottom: 0.2em;
  font-style: italic;
  font-size: 0.8em;
}

/*~~ footer ~~~~~~~~~~~~~~~~~~~~*/

footer {
  margin-top: 1em;
  padding-top: 1em;
  border-top: 1px solid black;
}

/*~~ taglist ~~~~~~~~~~~~~~~~~~~~*/

div.taglist {
  display: flex;
}

div.tag {
  margin-right: 1em;
  padding: 0.25em 0.7em 0.25em 0.7em;
  background-color: #e3e3e3;
  border-radius: 6px;
}

a.tag-link {
  text-decoration: none;
  font-size: 0.75em;
  font-weight: bold;
}

a.tag-link:hover {
  text-decoration: none;
  font-size: 0.75em;
}

span.tag-name {
   text-transform: uppercase;
}

span.tag-count {
  margin-left: 0.75em;
}

/*~~ social links ~~~~~~~~~~~~~~~*/

div.social-links {
  display: flex;
  justify-content: space-between;
}
