#site-navigation {
  position: sticky;
  top: 0;
  padding: 1rem;
  display:flex;
  flex-direction: row;
  background-color: white;
  box-shadow: 0 0 5px 5px rgba(20,20,20,0.3);
  z-index: 1000;
}

#site-navigation > * {
  margin-left: 1em;
}
#site-navigation > a {
  text-decoration: none;
  text-transform: uppercase;
  font-size: x-large;
  font-weight: 600;
  font-family: sans-serif;
  color: black;
}

#search-box {
  border: 1px solid #eeeeee;
  border-radius: 5px;
  padding: 0.2em;
}

#search-box div.routes-list {
  max-height: 500px;
  overflow: scroll;
  position: absolute;
  margin: 10px 0;
  padding: 0rem 1rem;
  border-radius: 4px;
  background-color: white;
  box-shadow: 0 0 5px 5px rgba(20,20,20,0.3);
}
#search-box div.hidden {
  visibility: hidden;
  height: 0;
}
#search-box div.visible {
  visibility: visible;
  height: unset;
}
#search-box div.routes-list  > div {
  position: sticky;
  background: white;
  top: 0;
}
#search-box .collapse-button {
  margin: 1rem 0;
  width: 100%;
  height: 2.5rem;
  border: none;
  border-radius: 5px;
  color: #877;
}
#search-box ul {
  list-style: none;
}
#search-box li {
  margin-top: 1rem;
}
#search-box ul.routes-list-list {
  margin: 0;
  margin-bottom: 1rem;
  padding: 0 0.8rem;
}
#search-box li.routes-list-item {
  padding: 12px;
  border-radius: 4px;
}
#search-box li.routes-list-item:nth-child(even) {
  background-color: rgba(200,200,200,0.3);
}
#search-box ul.hashtags-list {
  padding:0;
  display: flex;
}
#search-box li.hashtags-list-item {
  padding: 0.3em;
  margin-right: 0.4em;
  border: 1px solid lightgray;
}
#search-box a {
  font-size: 12pt;
  font-weight: 500;
}
#search-box li.link-description {
  min-width: 35vh;
  max-width: 75vh;
}
#search-box li.link-description.hidden {
  cursor: pointer;
}
#search-box p.link-description-header {
  display: grid;
  grid-template-columns: 1fr 2fr;
}
#search-box a.link {
  display: flex;
}
#search-box a.link > img {
  vertical-align: bottom;
}
#search-box a.link > span {
  margin-left: 0.2rem;
  display: inline-block;
  vertical-align: top;
}
#search-box span.link-description-title {
  margin-left: 1.3rem;
  text-align: right;
  text-transform: uppercase;
}
#search-box div.link-description-body {
  margin: 0.3em;
  padding-left: 0.3em;
}
#search-box div.link-description-body img {
  object-fit: contain;
  display: block;
  max-width: 100%;
  max-height: 100%;
}
