#site-navigation {
  position: sticky;
  top: 0;
  padding: 1em;
  display:flex;
  flex-direction: row;
  background-color: white;
  box-shadow: 0 0 5px 5px rgba(20,20,20,0.3);
  z-index: 1000;
}

#site-navigation > * {
  margin-left: 1em;
}
#site-navigation > a {
  text-decoration: none;
  text-transform: uppercase;
  font-size: x-large;
  font-weight: 600;
  font-family: sans-serif;
  color: black;
}

#search-box {
  border: 1px solid #eeeeee;
  border-radius: 5px;
  padding: 0.2em;
}

#search-box ul {
  display: none;
  list-style: none;
  margin: 10px 0;
  padding: 0.5em;
  max-height: 500px;
  overflow: scroll;
  position: absolute;
  border-radius: 4px;
  background-color: white;
  box-shadow: 0 0 5px 5px rgba(20,20,20,0.3);
}
#search-box input:focus + ul, #search-box:focus-within ul {
  display: block;
}
#search-box li {
  padding: 8px;
  border-radius: 4px;
}
#search-box li:nth-child(even) {
  background-color: rgba(200,200,200,0.3);
}
#search-box a {
  font-size: 12pt;
  font-weight: 500;
}

