main {
  max-width: 38rem;
  padding: 2rem;
  margin: auto;
}

html {
  max-width: 70ch;
  padding: 3em 1em;
  margin: auto;
  line-height: 1.75;
  font-size: 1.25em;
}

h1,h2,h3,h4,h5,h6 {
  margin: 3em 0 1em;
}

p,ul,ol {
  margin-bottom: 2em;
  color: #1d1d1d;
  font-family: sans-serif;
}

/*~~ latest-article listing  ~~~~~~~~~~~~~*/

nav:first-of-type {
  margin: auto;
  width: 70%;
}

nav:first-of-type >.articles-listing-list {
  display: block;
}

/*~~ topics listing  ~~~~~~~~~~~~~*/

.topics-listing {
  margin: 2em 2em 0 2em;
  padding: 5px 1em 8em 1em;
  background-color: var(--color-highlight-background);
  border-radius: 1em 1em 0 0;
}

.topics-listing > h2 {
  text-align: center;
}

.topics-listing-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 1em;
}

.topics-listing-list-topic > ul {
  list-style: none;
  font-size: 0.8em;
  margin:0;
  padding-left: 0.5em;
  text-transform: lowercase;
}
