=base:build-info.json
{"layout":"article"
,"publicationStatus":"Upcoming"
}

=base:preamble.json
{"author": "Anonymous Author"
,"date": "2084-04-04T01:00:00Z"
,"title": "new page"
}

=base:topic.json
{"tags":["some topic"]
,"keywords":["some more", "longer keywords"]
}

=base:social.json
{"twitter": "lucasdicioccio"
,"linkedin": "lucasdicioccio"
,"github": "lucasdicioccio"
,"cohost": "lucasdicioccio"
,"mastodon": "https://fosstodon.org/@lucasdicioccio"
}

=base:summary.cmark
A Page unintentionally left blank (or quasi-vacat).

=base:main-content.cmark

# new page

an article example

## subsection

a subsection with words

=base:main-css.css

@import "/css/dev.css";
@import "/css/colors.css";
@import "/css/article.css";
@import "/css/navigation.css";

