=base:build-info.json
{"layout":"tags"
}

=base:main-css.css
@import "/css/main.css";
@import "/css/index-wide.css" only screen and (min-width:800px);
@import "/css/index-narrow.css" only screen and (max-width:799px);
